button,
.button {
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    border: none;
    background: none;

    width: 35px;
    height: 35px;
    border-radius: 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    font-size: 1.2em;
}

button:hover,
.button:hover {
    transform: scale(1.05)
}

.switch-line-btn {
    background-color: var(--clr-switch-btn);
    color: var(--clr-text-btn);
}

.add-line-btn {
    background-color: var(--clr-add-btn);
    color: var(--clr-text-btn);
}

.remove-line-btn {
    background-color: var(--clr-delete-btn);
    color: var(--clr-text-btn);
}

.increase-font-btn {
    background-color: var(--clr-font-btn);
    grid-row: 1;
    grid-column: 1;
}

.decrease-font-btn {
    background-color: var(--clr-font-btn);
    font-size: 0.7em;
    grid-row: 1;
    grid-column: 2;
}

.color-btn {
    position: relative;
    background-color: var(--clr-font-btn);
    grid-row: 2;
    grid-column: 5;
}

.color-btn>.hidden {
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
}

.download-btn {
    background-color: var(--clr-download-btn);
    color: var(--clr-text-btn);
    font-size: 0.9em;
    width: fit-content;
    padding: 3px 15px 3px 15px;
    gap: 5px;
}

.align-text-btn {
    grid-row: 1;
    background-color: var(--clr-font-btn);
}

.align-text-btn:nth-child(3) {
    grid-column: 3;
}

.align-text-btn:nth-child(4) {
    grid-column: 4;
}

.align-text-btn:nth-child(5) {
    grid-column: 5;
}