/* pallette */

:root {
    /* primary color shades of gray */
    --clr-primary-base: #00CED1;
    --clr-primary--1: #071426;
    --clr-primary-1: #07fc03;

    /* secondery color */
    --clr-secondery-base: #FFFFFF;
    --clr-secondery-1: #9b9898;
    --clr-secondery--2: #152d4d;

    /* hover color */

    /* breakpoint vars */
    --l: 1060px;
    --m: 890px
}